* {
    box-sizing: border-box;
    margin: 0;
}

body {
    --color-one: #ffee32;
    --color-two: #ffd100;
    --color-three: #202020;
    --color-four: #4d4d4d;
    font-family: "Noto Sans", sans-serif;
    background-color: var(--color-two);
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    width: 575px;
    height: 385px;
    margin: 0 auto;
}

.scoreboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h2 {
    color: var(--color-one);
    text-shadow: var(--color-three) 1px 0 10px;
}

.guest-score,
.home-score {
    background-color: var(--color-four);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-one);
    font-size: 25px;
    border-radius: 5px;
}

.btn {
    border: 2px solid var(--color-three);
    font-size: 18px;
    color: var(--color-one);
    padding: 5px;
    border-radius: 3px;
    background-color: var(--color-three);
}

.btn:hover {
    scale: 1.05;
}

.btn:active {
    background-color: var(--color-two);
}